<%- include('header') %>

<ul>
  <li>
    <span>Cotação: </span>
    <p><%= quotation %></p>
  </li>
  <li>
    <span>Quantidade:</span>
    <p><%= quantity %></p>
  </li>
  <li>
    <span>Resultado:</span>
    <p><%= conversion %></p>
  </li>
</ul>

<%- include('footer') %>